.Users {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 15px;
  gap: 15px;
}

@media screen and (min-width: 900px) {
  .Users {
    margin-left: 220px;
    margin-right: 56px;

    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
}
