@import '../../Assets/Styles/animations.css';

.ControlPanel::-webkit-scrollbar {
    height: 0;
}
pre::-webkit-scrollbar {
    width: 0;
}

.LiveEdit {
    border-top-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    transition: all 0.3s;
    overflow: hidden;
    pre {
        background-color: var(--mainBorderColor) !important;
        min-height: 300px;
        max-height: 300px;
        overflow-y: auto;
    }
}
.ButtonWrite {
    transition: all 0.3s;
    color: var(--mainTextColor);
    width: 90vw;
    padding: 0.6em;

    background: var(--activeAccentColor);
    border-radius: 0.5em;
    margin-top: 20px;
    border: 1px solid var(--mainBorderColor);
}

.ControlPanel {
    display: flex;
    gap: 10px;
    animation: OpenBlock forwards 0.3s;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    margin-right: -10px;
    overflow-y: auto;
    .wrapper {
        transition: all 0.3s;
        animation: creteNewModWr 0.3s forwards;
        min-width: 60px;
        min-height: 60px;
        width: 80px;
        height: 80px;
        border-radius: 0.4em;
        cursor: pointer;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        .OneceMode {
            width: 100%;
            height: 100%;
            background: var(--mainBorderColor);
            padding: 2px;
            word-wrap: break-word;
            overflow: hidden;
            max-height: 80px;
            font-size: 10px;
            justify-content: start;
            align-items: start;
            display: flex;
            img {
                width: 100%;
                object-fit: contain;
                border-radius: 0.4em;
                background-color: var(--mainBorderColor);
            }
        }
    }
    .wrapper:before {
        content: '';
        display: block;
        padding-top: 100%;
    }
    .wrapperActive {
        border-radius: 0.4em;
        box-shadow: var(--mainBoxShadow);
    }

    .ButtonAdd {
        min-width: 80px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.4em;
        background: var(--mainBorderColor);
        svg {
            max-width: 20px;
            color: var(--mainTextColor);
        }
    }
}
.WritePost:has(.topBlock) .ControlPanel {
    padding-top: 4px;
}
textarea {
    height: 100% !important;
    min-height: 300px !important;
}

.WritePost {
    animation: OpenBlock forwards 0.3s;
    user-select: none;
    padding: 20px;
    padding-top: 0px;
    height: auto;
    margin-bottom: 20px;
    margin-top: var(--mainMarginTop);
    .card {
        width: 100%;
        height: 300px;
        position: relative;
        transform-style: preserve-3d;
    }
    .card .face {
        overflow: hidden;
        border-radius: 0.5em;
        transition: 1s ease-in-out;
        transform-style: preserve-3d;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        transform: rotateY(0deg);
        backface-visibility: hidden;
        input {
            width: 100%;
            margin: 10px;
            height: 100%;
        }
    }
    .card .face.front {
        background-color: var(--mainBorderColor);
    }
    .card .face.back {
        overflow: hidden;
        padding: 0.6em;
        transform: rotateY(180deg);
        background-color: var(--mainBorderColor);
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            background-color: var(--mainBorderColor);
        }
    }
    .cardActive .face.front {
        transform: rotateY(180deg);
    }
    .cardActive .face.back {
        transform: rotateY(360deg);
    }

    .topBlock {
        width: 100%;
        flex-shrink: 0;
        animation: openTopBlock 0.3s forwards;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .buttons {
            display: flex;
            gap: 10px;
            svg {
                width: 25px;
            }
            svg * {
                color: var(--accentTextColor);
            }
            .helpButton {
                svg * {
                    color: var(--activeAccentColor);
                }
            }
            .alertButton {
                svg * {
                    color: var(--errorAccentColor);
                }
            }
        }
    }
}
.closeTopBlock {
    animation: closeTopBlock 0.3s forwards !important;
}

@keyframes openTopBlock {
    0% {
        max-height: 0px;
        opacity: 0;
    }
    100% {
        opacity: 1;
        max-height: 34px;
    }
}
@keyframes closeTopBlock {
    0% {
        opacity: 1;
        max-height: 34px;
    }
    100% {
        max-height: 0px;
        opacity: 0;
    }
}

@keyframes creteNewModWr {
    0% {
        min-width: 0px;
        width: 0px;
        max-width: 0px;
    }
    100% {
        min-width: 80px;
        width: 80px;
        max-width: 80px;
    }
}
