.Buttons {
  padding: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .Button {
    gap: 10px;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: start;
  }
}

.ProfilePage {
  margin-top: 15px;
}

@media screen and (min-width: 900px) {
  .ProfilePage {
    display: flex;
    margin: 0 110px;
    height: calc(100vh - 120px);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    mark {
      background-color: var(--PrimaryBackgroundColor);
      width: 500px;
      color: var(--PrimaryTextColor);
      border: 0px;
    }
  }
  .Buttons {
    max-width: 500px;
    width: 500px;
    padding: 0px;
    padding-top: 20px;
  }
}
