.buttonSettings {
  margin: 10px;
  width: calc(100% - 20px);
  margin-top: 20px;
  margin-bottom: 0px;
}

.TeamInfoModal {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .Group {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .Title {
      width: 100%;
    }
    .Content {
      min-height: 80px;
      border-radius: 10px;
      padding: 10px;
      background-color: var(--PrimaryBackgroundColor);
    }
  }
}
