.Modal {
    position: fixed;
    width: 100%;
    left: 0;
    height: 100%;
    z-index: 10000;
    top: 0;
    .back {
        height: 100dvh;
        width: 100dvw;
        position: fixed;
        background-color: rgba($color: #000000, $alpha: 0.4);
        animation: bakModal 0.5s forwards;
    }
    .line {
        width: 100%;
        height: 5px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .line::before {
        width: 90px;
        border-radius: 50px;
        height: 4px;
        content: '';
        position: absolute;
        background-color: var(--SecondaryTextColor);
    }
    .content {
        min-height: 200px;
        bottom: 0;
        width: 100%;
        display: flex;
        padding: 17px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: var(--SecondaryBackgroundColor);
        flex-direction: column;
        box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
        position: fixed;
        animation: openModal 0.5s forwards;
        z-index: 1000;
        padding-bottom: 20px;
        .Comments {
            margin-top: 10px;
            display: flex;
            flex-direction: column-reverse;
            scroll-snap-type: mandatory;
            height: 100%;
            margin-bottom: 50px;
            gap: 12px;
            max-height: 400px;
            overflow: auto;
            .comment {
                max-height: none;
                padding: 5px;
                animation: OpenComment 0.3s forwards;
                border-radius: var(--DefaultBorderRadius);
                background-color: var(--AccentColor2);
                .author {
                    display: flex;
                    gap: 6px;
                    .Photo {
                        overflow: hidden;
                        border-radius: var(--DefaultBorderRadius);
                        width: 40px;
                        height: 40px;
                    }
                    .Data {
                        font-size: 18px;
                        color: var(--WhiteTextColor);
                        .commentText {
                            font-size: 16px;
                        }
                        .date {
                            font-size: 15px;
                            color: var(--GreyTextColor);
                        }
                    }
                }
            }
        }
        .Input {
            position: absolute;
            bottom: 15px;
            width: 100%;
            left: 0;
            padding-left: 15px;
            padding-right: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
            overflow: hidden;
            button {
                height: 45px;
                width: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                padding-left: 8px;
                flex-shrink: 0;
                transition: all 0.3s;
                border: 1px solid var(--PrimaryBackgroundColor);
                color: var(--WhiteTextColor);
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: var(--PrimaryBackgroundColor);
            }
            button:focus {
                border: 1px solid var(--AccentBorderColor);

                background-color: var(--FourBackgroundColor);
            }
        }
    }
}

.NavPanelClose {
    .content {
        animation: closeNav 0.5s forwards;
    }
    .back {
        animation: bakNavC 0.5s forwards;
    }
}
.RepostToYou {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        width: 90px;
        height: 90px;
        border-radius: var(--DefaultBorderRadius);
    }
    color: var(--WhiteTextColor);
    font-size: 20px;
}

.ButtonModal {
    padding: 8px;
    width: 100%;
    background-color: var(--AccentColor2) !important;
    border-radius: 15px;
    box-shadow: var(--DarkShadow);
    color: var(--WhiteTextColor);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.ButtonModalFalse {
    padding: 8px;
    width: 100%;
    background-color: var(--DarkTextColor) !important;
    border-radius: 15px;
    box-shadow: var(--DarkShadow);
    color: var(--WhiteTextColor);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

@keyframes closeNav {
    from {
        bottom: 0px;
    }
    to {
        bottom: -550px;
    }
}

@keyframes bakNavC {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes openModal {
    from {
        bottom: -550px;
    }
    to {
        bottom: 0px;
    }
}

@keyframes bakModal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
