.Modal {
    position: fixed;
    width: 100%;
    left: 0;
    height: 100%;
    z-index: 10000;
    top: 0;
    .back {
        height: 100dvh;
        width: 100dvw;
        position: fixed;
        background-color: rgba($color: #000000, $alpha: 0.4);
        animation: bakModal 0.5s forwards;
    }
    .line {
        width: 100%;
        height: 5px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    .line::before {
        width: 90px;
        border-radius: 50px;
        height: 4px;
        content: '';
        position: absolute;
        background-color: var(--SecondaryTextColor);
    }
    .content {
        min-height: 200px;
        bottom: 0;
        width: 100%;
        display: flex;
        padding: 15px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: var(--SecondaryBackgroundColor);
        flex-direction: column;
        box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
        position: fixed;
        animation: openModal 0.5s forwards;
        z-index: 1000;
        padding-bottom: 20px;
        .Input {
            position: absolute;
            bottom: 10px;
            width: 100%;
            left: 0;
            padding-left: 15px;
            padding-right: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
            overflow: hidden;
            button {
                height: 45px;
                width: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                padding-left: 8px;
                flex-shrink: 0;
                transition: all 0.3s;
                border: 1px solid var(--PrimaryBackgroundColor);
                color: var(--WhiteTextColor);
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: var(--PrimaryBackgroundColor);
            }
            button:focus {
                border: 1px solid var(--AccentBorderColor);

                background-color: var(--FourBackgroundColor);
            }
        }
    }
}

.Comments {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    margin-bottom: 45px;
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
    padding: 0px;
    border-radius: 10px;
    .Wrapper {
        flex-direction: column;
        display: flex;
        gap: 10px;
    }
    .comment {
        max-height: none;
        padding: 5px;
        width: 100%;
        animation: OpenComment 0.3s forwards;
        border-radius: 10px;
        background-color: var(--PrimaryBackgroundColor);
        .author {
            display: flex;
            align-items: center;
            gap: 6px;
            .Photo {
                overflow: hidden;
                border-radius: 10px;
                width: 50px;
                height: 50px;
            }
            .top {
                display: flex;
                gap: 7px;
                align-items: center;
                font-size: 16px;
                font-weight: 300;
                .date {
                    color: var(--SecondaryTextColor);
                }
            }
            .Data {
                display: flex;
                height: 43px;
                justify-content: space-between;
                flex-direction: column;

                .commentText {
                    font-weight: 400;
                    font-size: 17px;
                    color: var(--PrimaryTextColor);
                }
            }
        }
    }
}

.NavPanelClose {
    .content {
        animation: closeNav 0.5s forwards;
    }
    .back {
        animation: bakNavC 0.5s forwards;
    }
}
.SettingsModal {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.RepostModal {
    display: flex;
    gap: 15px;
    align-items: end;
    overflow-y: auto;
    padding-top: 25px;
    padding-bottom: 20px;
    .RepostToYou {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--SecondaryTextColor);
        font-size: 20px;
        position: relative;
        flex-shrink: 0;
        font-weight: 400;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: var(--AccentBackgroundShadow);
        img {
            background-color: var(--PrimaryBackgroundColor);
            display: flex;
            justify-content: center;
            align-items: center;
            object-fit: cover;
            width: 100px;
            height: 100px;
        }
        .name {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 24px;
            background-color: var(--PrimaryBackgroundColor);
        }
    }
    .RepostToTeam {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--SecondaryTextColor);
        font-size: 15px;
        position: relative;
        height: 80px;
        box-shadow: var(--AccentBackgroundShadow);
        font-weight: 300;
        img {
            background-color: var(--PrimaryBackgroundColor);
            display: flex;
            justify-content: center;
            align-items: center;
            object-fit: cover;
            width: 80px;
            height: 80px;
            border-radius: 10px;
        }
        .name {
            position: absolute;
            bottom: 0;
            width: 100%;
            line-height: 15px;
            background-color: var(--PrimaryBackgroundColor);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}

@keyframes closeNav {
    from {
        bottom: 0px;
    }
    to {
        bottom: -550px;
    }
}

@keyframes bakNavC {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes openModal {
    from {
        bottom: -550px;
    }
    to {
        bottom: 0px;
    }
}

@keyframes bakModal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
