.Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    top: 0;
    position: fixed;
    z-index: 9999;
    gap: 10px;
    height: 70px;
    background-color: var(--PrimaryBackgroundColor);
    &__Title {
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 30px;
        letter-spacing: 0.5px;
        font-weight: 600;
        position: absolute;
        left: 0;
        padding: 10px;
        top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
    }

    button {
        display: flex;
        min-height: 27px;
        min-width: 27px;
        justify-content: center;
        align-items: center;
        svg {
            height: 27px;
            width: 27px;
        }
    }
}
