.Obj {
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
    padding: 17px;
    background-color: var(--GreyColor);
    border-radius: var(--DefaultBorderRadius);
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    .Data {
        gap: 10px;
        display: flex;
        .Photo {
            height: 46px;
            width: 46px;
            background-color: var(--AccentColor2);
            border-radius: var(--DefaultBorderRadius);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .Text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .Title {
                font-size: 18px;
                color: var(--AccentColor);
                font-weight: 600;
            }
            .Members {
                margin-top: -3px;
                font-size: 16px;
                color: var(--GreyTextColor);
                font-weight: 500;
            }
        }
    }
}
