.Posts {
    display: flex;
    flex-direction: column;
    gap: 7px;
    .Filters {
        display: flex;
        gap: 17px;
        overflow-x: auto;
        padding: 17px;
        padding-bottom: 10px;
        .Filter {
            padding: 5px;
            border-radius: var(--DefaultBorderRadius);
            padding-left: 8px;
            box-shadow: var(--DarkShadow);
            padding-right: 8px;
            color: var(--WhiteTextColor);
            font-size: 16px;
            font-weight: 600;
            background-color: var(--AccentColor2);
        }
    }
}
.Post {
    background-color: var(--GreyColor);
    padding: 17px;
    border-radius: var(--DefaultBorderRadius);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    .PostData {
        margin-top: 11px;
        .Title {
            color: var(--DarkTextColor);
            font-size: 16px;
            font-weight: 600;
        }
        .Text {
            color: var(--DarkTextColor);
        }
    }
    .BlocksData {
        overflow-x: auto;
        margin-top: 11px;
        gap: 17px;
        position: relative;

        .ImageBlock {
            background-color: var(--WhiteTextColor2);
            flex-shrink: 0;
            height: 240px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: var(--DefaultBorderRadius);
            overflow: hidden;
            img {
                width: 100%;
                object-fit: contain;
                height: 100%;
            }
        }
        .CodePostBlock {
            padding: 10px;
            background-color: var(--WhiteTextColor2);
            border-radius: var(--DefaultBorderRadius);
            flex-shrink: 0;
            height: 240px;
            width: 100%;
        }
        .SurveyMode {
            padding: 10px;
            background-color: var(--WhiteTextColor2);
            border-radius: var(--DefaultBorderRadius);
            flex-shrink: 0;
            height: 240px;
            width: 100%;
            .title {
                font-weight: 600;
                color: var(--DarkTextColor);
                font-size: 22px;
            }
            .variants {
                margin-top: 12px;
                display: flex;
                gap: 10px;
                flex-direction: column;
                .variant {
                    font-weight: 600;
                    font-size: 16px;
                    color: var(--WhiteTextColor);
                    padding: 8px;
                    width: 100%;
                    border-radius: var(--DefaultBorderRadius);
                    background-color: var(--AccentColor);
                }
            }
        }
    }
    .AuthorData {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .Data {
            display: flex;
            gap: 10px;
            align-items: center;
            .Photo {
                overflow: hidden;
                width: 46px;
                height: 46px;
                background-color: var(--AccentColor2);
                box-shadow: var(--DarkShadow);
                border-radius: var(--DefaultBorderRadius);
            }
            .Text {
                display: flex;
                flex-direction: column;
                .Name {
                    color: var(--AccentColor);
                    font-size: 17px;
                    font-weight: 600;
                }
                .Date {
                    color: var(--GreyTextColor);
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }
    .PostActivity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 11px;
        .Buttons {
            display: flex;
            gap: 20px;
            align-items: center;
            .LikeHeart {
                color: var(--AccentColor);
            }
        }
        button {
            justify-content: center;
            display: flex;
            color: var(--DarkTextColor);
            align-items: center;
            gap: 7px;
            font-size: 15px;
            font-weight: 500;
        }
    }
    .repost {
        color: var(--GreyTextColor);
    }
}
