.Posts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    padding-top: 15px;
    .Render {
        gap: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .Title {
        display: flex;
        font-size: 20px;
        color: var(--SecondaryTextColor);
        justify-content: space-between;
    }
}
.Post {
    background-color: var(--SecondaryBackgroundColor);
    padding: 10px;
    border-radius: 15px;
    .PostData {
        margin-top: 5px;
        .Title {
            color: var(--DarkTextColor);
            font-size: 15px;
            font-weight: 400;
        }
        .Text {
            color: var(--DarkTextColor);
        }
    }
    .BlocksData {
        overflow-x: auto;
        gap: 17px;
        margin-top: 5px;
        position: relative;
        .ImageBlock {
            background-color: #60658310;
            padding: 5px;
            flex-shrink: 0;
            height: 240px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            overflow: hidden;
            img {
                width: 100%;
                object-fit: contain;
                height: 100%;
            }
        }
        .CodePostBlock {
            background-color: #60658310;
            padding: 5px;
            flex-shrink: 0;
            height: 240px;
            width: 100%;
            font-weight: 300;
            font-size: 15px;
        }
        .SurveyMode {
            background-color: #60658310;
            padding: 5px;
            flex-shrink: 0;
            height: 240px;
            width: 100%;
            .title {
                font-weight: 400;
                color: var(--PrimaryTextColor);
                font-size: 20px;
                background: var(--AccentBackgroundGradient);
                background-clip: text;
            }
            .variants {
                margin-top: 10px;
                display: flex;
                gap: 10px;
                flex-direction: column;
                .variant {
                    background-color: #60658310;
                    font-weight: 300;
                    font-size: 15px;
                    padding: 8px;
                    overflow: hidden;
                    width: 100%;
                    position: relative;
                    border-radius: 10px;
                    progress {
                        z-index: -1;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        transition: all 0.3s;
                    }
                    ::-webkit-progress-bar {
                        background-color: var(--PrimaryBackgroundColor);
                        transition: all 0.3s;
                    }
                    ::-webkit-progress-value {
                        box-shadow: var(--AccentBackgroundShadow);
                        transition: all 0.3s;
                        background: var(--AccentBackgroundGradient);
                    }
                }
                .select {
                    background-color: #333;
                }
            }
        }
    }
    .AuthorData {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .Data {
            display: flex;
            gap: 10px;
            align-items: center;
            .Photo {
                overflow: hidden;
                width: 42px;
                height: 42px;
                background: var(--ThirdaryBackgroundColor);
                box-shadow: var(--DarkShadow);
                border-radius: 50%;
            }
            .Text {
                display: flex;
                flex-direction: column;
                gap: 3px;
                .Name {
                    color: var(--AccentColor);
                    font-size: 16px;
                    line-height: 16px;
                    font-weight: 400;
                }
                .Date {
                    color: var(--SecondaryTextColor);
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }
    }
    .PostActivity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        font-size: 50px;
        .Buttons {
            display: flex;
            gap: 20px;
            transition: all 0.3s;
            color: var(--SecondaryTextColor);
            align-items: center;
            svg * {
                fill: var(--SecondaryTextColor);
            }
            svg {
                height: 18px;
                width: 18px;
            }
            h1 {
                font-weight: 400;
            }
            .LikeHeart {
                font-weight: 600;
                background: var(--AccentBackgroundGradient);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                svg * {
                    transition: all 0.3s;
                    fill: var(--AccentBorderColor);
                }
            }
        }
        button {
            svg * {
                fill: var(--SecondaryTextColor);
                transition: all 0.3s;
            }
            svg {
                height: 18px;
                width: 18px;
                transition: all 0.3s;
            }
            transition: all 0.3s;
            color: var(--SecondaryTextColor);
            justify-content: center;
            display: flex;
            h1 {
                color: var(--DarkTextColor);
                font-weight: 400;
                transition: all 0.3s;
            }

            align-items: center;
            gap: 3px;
            font-size: 15px;
            font-weight: 400;
        }
    }
    .repost {
        color: var(--SecondaryTextColor);
        font-weight: 300;
        padding-top: 5px;
        font-size: 14px;
    }
}
