:where(.css-dev-only-do-not-override-1rqnfsa).ant-select-outlined:not(
        .ant-select-disabled
    ):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover
    .ant-select-selector {
    border-color: transparent;
    border-radius: 10px !important;
}
.ant-select-focused:where(
        .css-dev-only-do-not-override-1rqnfsa
    ).ant-select-outlined:not(.ant-select-disabled):not(
        .ant-select-customize-input
    ):not(.ant-pagination-size-changer)
    .ant-select-selector {
    border-color: var(--AccentBorderColor);
    border-radius: 10px !important;
    background-color: var(--FourBackgroundColor);
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-select-outlined:not(
        .ant-select-customize-input
    )
    .ant-select-selector {
    border-radius: 10px;
    border: 1px solid transparent;
    background: var(--SecondaryBackgroundColor);
}

.Primary {
    :where(.css-dev-only-do-not-override-1rqnfsa).ant-select-outlined:not(
            .ant-select-customize-input
        )
        .ant-select-selector {
        border: 1px solid transparent;
        border-radius: 10px;
        background: var(--PrimaryBackgroundColor);
    }
}
.ant-select {
    border-radius: 10px;
}

:where(
        .css-dev-only-do-not-override-1rqnfsa
    ).ant-select-single.ant-select-show-arrow
    .ant-select-selection-placeholder {
    color: var(--SecondaryTextColor) !important;
    font-weight: 400 !important;
    font-family: 'sfPro' !important;
    font-size: 16px !important;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-select-single:not(
        .ant-select-customize-input
    )
    .ant-select-selector {
    width: 100%;
    height: 100%;
    padding: 0 12px !important;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-select-single
    .ant-select-selector {
    font-size: 16px !important;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-select-dropdown
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    font-weight: 400;
    background-color: var(--TransparentColor);
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-select-dropdown {
    background-color: var(--SecondaryBackgroundColor);
    * {
        color: var(--PrimaryTextColor) !important;
    }
}

.rc-virtual-list-scrollbar-thumb {
    background: var(--FourBackgroundColor) !important;
}

.ant-select-dropdown {
    z-index: 99999;
}
