.AuthForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: var(--PrimaryPaddingSize);
    &__Title {
        color: var(--PrimaryTextColor);
        font-size: 40px;
        line-height: 50px;
        margin-top: 50px;
        font-weight: 500;
    }
    &__InputWrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .moreInputs {
            display: flex;
            gap: 10px;
        }
    }
}
.BottomForm {
    padding: var(--PrimaryPaddingSize);
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    bottom: 0;
    width: 100%;
    .nextForm {
        text-align: center;
        font-size: 16px;
        color: var(--SecondaryTextColor);
        font-weight: 300;
        a {
            background: var(--AccentBackgroundGradient);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

@media screen and (min-width: 900px) {
    .BottomForm {
        left: 0px;
        width: 100%;
        width: 400px;
        margin: 0 auto;
        position: relative;
        border: 1px solid var(--TransparentColor);
        border-top: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .AuthForm {
        border: 1px solid var(--TransparentColor);
        width: 100%;
        border-bottom: 0px;
        width: 400px;
        margin: 0 auto;
        margin-top: 150px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}
