.NavBar {
  position: fixed;
  bottom: 0;
  height: 55px;
  width: 100%;
  display: flex;
  z-index: 9999;
  justify-content: space-between;
  align-items: center;
  background-color: var(--SecondaryBackgroundColor);
  a {
    border-top: 2px solid var(--TransparentColor);
    width: 100%;
    display: flex;
    height: 100%;
    transition: all 0.3s;
    justify-content: center;
    align-items: center;
    background: var(--SecondaryBackgroundColor);
    svg {
      transition: all 0.3s;
      fill: var(--SecondaryTextColor);
    }
    .name {
      display: none;
    }
  }
  .Select {
    color: var(--PrimaryTextColor);
    border-top: 2px solid var(--PrimaryTextColor);
    background: #700cf5;
    svg {
      fill: var(--PrimaryTextColor);
    }
  }
}

@media screen and (min-width: 900px) {
  .Wraapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    pointer-events: none;
    .container {
      pointer-events: none;

      max-width: 1000px;
      margin: 0 auto;
      padding-left: 10px;
      margin-top: 85px;
      height: 100%;
    }
  }
  .NavBar {
    pointer-events: all;
    position: relative;
    flex-direction: column;
    border-radius: 10px;
    justify-content: start;
    overflow: hidden;
    height: 276px;
    max-width: 200px;
    border: 1px solid var(--TransparentColor);
    a {
      gap: 10px;
      flex-direction: row-reverse;
      flex-shrink: 0;
      justify-content: center;
      border: 0px;
      height: 55px;

      color: var(--SecondaryTextColor);
      svg {
        flex-shrink: 0;
        width: 24px;
      }
      .name {
        display: block;
        font-size: 16px;
        width: 110px;
      }
    }
    .Select {
      color: var(--AccentBorderColor);
      border-top: 0px solid var(--PrimaryTextColor);
      background-color: transparent;
      svg {
        fill: var(--AccentBorderColor);
      }
    }
  }
}
