@import '/src/Assets/Styles/variables.css';

.Container {
    margin: 10px;
    margin-top: 5px;
    .Form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
