.createPlan {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.row {
  gap: 5px;
  display: flex;
}

.Title {
  font-size: 18px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  button {
    width: 25px;
  }
}

.TitleC {
  font-size: 18px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.GroupDate {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h4 {
    color: var(--SecondaryTextColor);
    font-size: 14px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .Plans {
    max-height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .Plan {
    display: flex;
    gap: 5px;
    align-items: center;
    .Type {
      flex-shrink: 0;
      border-radius: 50%;
      width: 50px;
      box-shadow: var(--AccentBackgroundShadow);
      height: 50px;
      background-color: var(--TransparentColor);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 70%;
        height: 70%;
      }
    }
    .Buttons {
      display: flex;
      gap: 5px;
      align-items: center;
      .Reduct {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        * {
          fill: var(--SecondaryTextColor);
        }
      }
      .Asigner {
        width: 40px;
        border-radius: 50%;
        height: 40px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .Text {
      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      .Title {
        text-align: start;
        font-size: 16px;
        color: var(--PrimaryTextColor);
        padding-left: 0px;
        height: auto;
      }
      .Desc {
        width: 100%;
        text-align: start;
        font-size: 14px;
        color: var(--SecondaryTextColor);
        max-height: 35px;
        overflow: hidden;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .row {
    flex-direction: column;
  }
}
