@import '../../Assets/Styles/variables.css';

.button {
    transition: all 0.3s;
    color: var(--mainTextColor);
    width: 100%;
    margin: 0 20px;
    margin-top: 20px;
    padding: 0.6em;
    background: var(--accentTextColor);
    border-radius: 0.5em;
    border: 1px solid var(--mainBorderColor);
}
