.Posts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  padding-top: 15px;
  .Render {
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .Title {
    display: flex;
    font-size: 20px;
    color: var(--SecondaryTextColor);
    justify-content: space-between;
    cursor: pointer;
  }
}
.Post {
  background-color: var(--SecondaryBackgroundColor);
  padding: 10px;
  border-radius: 15px;
  .PostData {
    margin-top: 5px;
    cursor: pointer;
    .Title {
      color: var(--DarkTextColor);
      font-size: 15px;
      font-weight: 400;
    }
    .Text {
      max-height: 40px;
      overflow: hidden;
      color: var(--DarkTextColor);
      font-weight: 300;
    }
  }
  .BlocksData {
    overflow-x: auto;
    gap: 17px;
    margin-top: 5px;
    position: relative;

    border-radius: 10px;
    .ImageBlock {
      background-color: #60658310;
      padding: 5px;
      aspect-ratio: 16 / 12;
      flex-shrink: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      overflow: hidden;
      img {
        width: 100%;
        object-fit: contain;
        height: 100%;
      }
    }
    .CodePostBlock {
      background-color: #60658310;
      padding: 5px;
      flex-shrink: 0;
      cursor: pointer;
      width: 100%;
      aspect-ratio: 16 / 12;
      font-weight: 300;
      font-size: 15px;
    }
  }

  .repost {
    color: var(--SecondaryTextColor);
    font-weight: 300;
    padding-top: 5px;
    font-size: 14px;
    cursor: pointer;
  }
}

.SurveyMode {
  aspect-ratio: 16 / 12;
  background-color: #60658310;
  padding: 5px;
  flex-shrink: 0;
  border-radius: 10px;
  width: 100%;
  .title {
    font-weight: 400;
    color: var(--PrimaryTextColor);
    font-size: 20px;
    background: var(--AccentBackgroundGradient);
    background-clip: text;
  }
  .variants {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    overflow-y: auto;
    .variant {
      cursor: pointer;
      background-color: var(--SecondaryBackgroundColor);
      font-weight: 300;
      overflow: hidden;
      font-size: 15px;
      padding: 8px;
      overflow: hidden;
      width: 100%;
      position: relative;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      * {
        z-index: 1;
      }
      .text {
        z-index: 1;
      }
      progress {
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all 0.3s;
        visibility: unset !important;
      }
      .stat {
        z-index: 1;
        color: var(--SecondaryTextColor);
      }

      progress::-webkit-progress-bar {
        background-color: var(--SecondaryBackgroundColor);
        transition: all 0.3s;
      }
      progress::-webkit-progress-value {
        box-shadow: var(--AccentBackgroundShadow);
        transition: all 0.3s;
        background: var(--AccentBackgroundGradient);
      }
    }
    .select {
      background-color: #333;
    }
  }
}

.PostActivity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 50px;
  .Buttons {
    display: flex;
    gap: 20px;
    transition: all 0.3s;
    color: var(--SecondaryTextColor);
    align-items: center;
    svg * {
      fill: var(--SecondaryTextColor);
    }
    svg {
      height: 18px;
      width: 18px;
    }
    h1 {
      font-weight: 400;
    }
    .LikeHeart {
      font-weight: 600;
      background: var(--AccentBackgroundGradient);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      svg * {
        transition: all 0.3s;
        fill: var(--AccentBorderColor);
      }
    }
  }
  button {
    svg * {
      fill: var(--SecondaryTextColor);
      transition: all 0.3s;
    }
    svg {
      height: 18px;
      width: 18px;
      transition: all 0.3s;
    }
    transition: all 0.3s;
    color: var(--SecondaryTextColor);
    justify-content: center;
    display: flex;
    h1 {
      color: var(--DarkTextColor);
      font-weight: 400;
      transition: all 0.3s;
    }

    align-items: center;
    gap: 3px;
    font-size: 15px;
    font-weight: 400;
  }
}

.AuthorData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  .Data {
    display: flex;
    gap: 10px;
    align-items: center;
    .Photo {
      overflow: hidden;
      width: 42px;
      height: 42px;
      background: var(--ThirdaryBackgroundColor);
      box-shadow: var(--DarkShadow);
      border-radius: 50%;
    }
    .Text {
      display: flex;
      flex-direction: column;
      gap: 3px;
      .Name {
        color: var(--AccentColor);
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
      }
      .Date {
        color: var(--SecondaryTextColor);
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .Posts {
    max-width: 1000px;
    margin: 0 56px;
    margin-left: 220px;
    margin-top: 10px;
    .Render {
      margin-top: 9px;
    }
    .Post {
      border: 1px solid var(--TransparentColor);
      .BlocksData {
        .SurveyMode {
          height: 350px;
        }
        .CodePostBlock {
          height: 350px;
        }
        .ImageBlock {
          height: 350px;
        }
      }
      .PostData {
        margin-top: 10px;
        .Text {
          max-height: 60px;
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .Post {
    .main {
      display: flex;
      flex-direction: row-reverse;
      gap: 10px;
      margin-top: 10px;
      .BlocksData {
        margin-top: 0px;
      }
      .PostData {
        background-color: #60658310;
        border-radius: 10px;
        padding: 5px;
        max-width: 213px;
        margin-top: 0px;
        .Text {
          img {
            border-radius: 5px;
          }
          max-height: none;
        }
      }
    }
  }
}
