.PreloaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100dvh - 120px);
    width: 100%;
    pointer-events: none;
    position: fixed;
    animation: ShowPreloader 0.3s ease-in-out forwards;
}
.close {
    animation: ClosePreloader 0.3s ease-in-out forwards;
}

@keyframes ShowPreloader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes ClosePreloader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.Preloader {
    width: 100px;
    height: 40px;
    --g: radial-gradient(
            farthest-side,
            #0000 calc(95% - 3px),
            var(--AccentBorderColor) calc(100% - 3px) 98%,
            #0000 101%
        )
        no-repeat;
    background: var(--g), var(--g), var(--g);
    background-size: 30px 30px;
    animation: l9 1.3s infinite alternate;
}
@keyframes l9 {
    0% {
        background-position:
            0 50%,
            50% 50%,
            100% 50%;
    }
    20% {
        background-position:
            0 0,
            50% 50%,
            100% 50%;
    }
    40% {
        background-position:
            0 100%,
            50% 0,
            100% 50%;
    }
    60% {
        background-position:
            0 50%,
            50% 100%,
            100% 0;
    }
    80% {
        background-position:
            0 50%,
            50% 50%,
            100% 100%;
    }
    100% {
        background-position:
            0 50%,
            50% 50%,
            100% 50%;
    }
}
