.Header {
    animation: header forwards;
    animation-timeline: scroll();
    animation-range: 0 20px;
    background-color: var(--AccentColor);
    padding: var(--DefaultPadding);
    border-radius: var(--DefaultBorderRadius);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 77px;
    z-index: 1;
    .TopBar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .ButtonWithLines {
            position: fixed;
            height: 46px;
            left: 17px;
            width: 46px;
            background-color: var(--AccentColor2);
            border-radius: var(--DefaultBorderRadius);
            box-shadow: var(--DarkShadow);
            z-index: 100;
        }
        .ButtonWithLines::before {
            top: 17px;
            left: 10px;
            content: '';
            position: absolute;
            width: 20px;
            height: 3px;
            background-color: var(--WhiteColor);
            border-radius: 10px;
        }
        .ButtonWithLines::after {
            bottom: 17px;
            right: 10px;
            content: '';
            position: absolute;
            width: 20px;
            height: 3px;
            background-color: var(--WhiteColor);
            border-radius: 10px;
        }
        .Title {
            animation: opasity forwards;
            animation-timeline: scroll();
            animation-range: 0 20px;
            z-index: 1;
            height: 46px;
            color: var(--WhiteTextColor);
            font-family: Nunito;
            font-size: var(--BigFontSize);
            font-weight: 700;
            letter-spacing: 3.5px;
            z-index: 100;
        }
        .ProfileIcon {
            height: 46px;
            width: 46px;
            background-color: var(--AccentColor2);
            border-radius: var(--DefaultBorderRadius);
            box-shadow: var(--DarkShadow);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            overflow: hidden;
            position: fixed;
            right: 17px;
            z-index: 100;
        }
    }
    .SearchBar {
        animation: shrink forwards;
        animation-timeline: scroll();
        animation-range: 0 20px;
        margin-top: 24px;
        top: 50px;
        width: 100%;
        padding-left: 17px;
        padding-right: 17px;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        .SearchIcon {
            left: 27px;
            animation: opasity forwards;
            animation-timeline: scroll();
            animation-range: 0 20px;
            position: absolute;
        }
        .SlidersIcon {
            animation: opasity forwards;
            animation-timeline: scroll();
            animation-range: 0 20px;
            right: 27px;
            position: absolute;
        }
        .Input {
            box-shadow: var(--DarkShadow);
            animation: shrinkInput forwards;
            animation-timeline: scroll();
            animation-range: 0 20px;
            padding-left: 50px;
            width: 100%;
            height: 46px;
            background-color: var(--AccentColor2);
            border-radius: var(--DefaultBorderRadius);
            color: var(--WhiteTextColor);
            font-size: 20px;
            font-weight: 600;
            pointer-events: all;
        }
        .Input::placeholder {
            color: var(--PlaceholderTextColor);
            animation: colori forwards;
            animation-timeline: scroll();
            animation-range: 0 20px;
        }
    }
}

.Header::before {
    content: '';
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 100;
    border-radius: var(--DefaultBorderRadius);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: var(--AccentColor);
}

@keyframes shrinkInput {
    to {
        pointer-events: none;
        padding-left: 10px;
    }
}

@keyframes colori {
    to {
        color: var(--WhiteTextColor);
    }
}

@keyframes opasity {
    to {
        opacity: 0;
    }
}

@keyframes shrink {
    to {
        width: 60%;
        top: -7px;
        position: fixed;
        padding: 0px;
    }
}
@keyframes header {
    to {
        padding-bottom: 20px;
    }
}
