.Header {
    background-color: var(--AccentColor);
    padding: var(--DefaultPadding);
    border-radius: var(--DefaultBorderRadius);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    z-index: 1;
    .TopBar {
        z-index: 1000;
        padding: var(--DefaultPadding);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        top: 0px;
        border-radius: var(--DefaultBorderRadius);
        border-top-left-radius: 0px;
        background-color: var(--AccentColor);
        border-top-right-radius: 0px;

        .ButtonWithLines {
            position: relative;
            height: 46px;
            width: 46px;
            background-color: var(--AccentColor2);
            border-radius: var(--DefaultBorderRadius);
            box-shadow: var(--DarkShadow);
            z-index: 100;
        }
        .ButtonWithLines::before {
            top: 17px;
            left: 10px;
            content: '';
            position: absolute;
            transition: all 0.2s;
            width: 20px;
            height: 3px;
            background-color: var(--WhiteColor);
            border-radius: 10px;
        }
        .ButtonWithLines::after {
            bottom: 17px;
            right: 10px;
            content: '';
            position: absolute;
            width: 20px;
            transition: all 0.2s;
            height: 3px;
            background-color: var(--WhiteColor);
            border-radius: 10px;
        }
        .ToTop::before {
            transform: rotate(-45deg);
            top: 19.5px;
            left: 7px;
        }
        .ToTop::after {
            transform: rotate(45deg);
            top: 19.5px;
            right: 7px;
        }
        .ToLeft::before {
            transform: rotate(-45deg);
            top: 15.4px;
            left: 12px;
        }
        .ToLeft::after {
            transform: rotate(45deg);
            left: 12px;
            bottom: 15.4px;
        }
        .Title {
            z-index: 1;
            height: 46px;
            color: var(--WhiteTextColor);
            font-family: Nunito;
            font-size: var(--BigFontSize);
            font-weight: 700;
            letter-spacing: 3.5px;
        }
        .ProfileIcon {
            position: relative;
            height: 46px;
            width: 46px;
            background-color: var(--AccentColor2);
            border-radius: var(--DefaultBorderRadius);
            box-shadow: var(--DarkShadow);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            overflow: hidden;
        }
    }
    .SearchBar {
        margin-top: 24px;
        top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        .SearchIcon {
            left: 27px;

            position: absolute;
        }
        .SlidersIcon {
            right: 27px;
            position: absolute;
        }
        .Input {
            box-shadow: var(--DarkShadow);

            padding-left: 50px;
            width: 100%;
            height: 46px;
            background-color: var(--AccentColor2);
            border-radius: var(--DefaultBorderRadius);
            color: var(--WhiteTextColor);
            font-size: 20px;
            font-weight: 600;
            pointer-events: all;
        }
        .Input::placeholder {
            color: var(--PlaceholderTextColor);
        }
    }
}

.NavPanel {
    position: absolute;
    z-index: 10000;
    .back {
        height: 100dvh;
        width: 100dvw;
        position: absolute;
        background-color: rgba($color: #000000, $alpha: 0.3);
        animation: bakNav 0.5s forwards;
    }
    .blocks {
        animation: openNav 0.5s forwards;
        z-index: 1000;
        height: 100dvh;
        width: 80dvw;
        padding: 17px;
        position: absolute;
        background-color: var(--AccentColor);
        display: flex;
        color: var(--WhiteTextColor);
        flex-direction: column;
        gap: 17px;
        box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
        .Title {
            height: 46px;
            text-align: center;
            color: var(--WhiteTextColor);
            font-family: Nunito;
            font-size: var(--BigFontSize);
            font-weight: 700;
            letter-spacing: 3.5px;
        }
        .block {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 10px;
            gap: 10px;
            border-radius: var(--DefaultBorderRadius);
            height: 40px;
            background-color: var(--AccentColor2);
            font-size: 20px;
            font-weight: 600;
        }
    }
}

.NavPanelClose {
    .blocks {
        animation: closeNav 0.5s forwards;
    }
    .back {
        animation: bakNavC 0.5s forwards;
    }
}

@keyframes openNav {
    from {
        left: -80dvw;
    }
    to {
        left: 0px;
    }
}

@keyframes bakNav {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes closeNav {
    from {
        left: 0px;
    }
    to {
        left: -80dvw;
    }
}

@keyframes bakNavC {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
