@font-face {
    font-family: 'Mairy';
    src: url('../../Assets/Fonts/Gorga-Grotesque-Bold.otf');
}

.Header {
    position: fixed;
    width: 100%;
    height: 8dvh;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--mainBackGroudColor);
    display: flex;
    padding: 1em;
    font-size: 16px;
    font-family: 'Golos Text';
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--mainBoxShadow);
    .NavPanel {
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        .blocks {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 16px;
            gap: 20px;
            z-index: 1000;
            position: absolute;
            animation: OpenNavBarBlocks 0.4s forwards;
            .block {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                border: 1px solid var(--accentTextColor);
                background-color: var(--mainBorderColor);
                animation: OpenNavBarBlock 0.4s forwards;
            }
        }
        @keyframes OpenNavBarBlocks {
            0% {
                gap: 0px;
            }
            100% {
                gap: 20px;
            }
        }
        @keyframes OpenNavBarBlock {
            0% {
                opacity: 0;
                width: 1px;
                height: 1px;
                border-radius: 0px;
            }
            100% {
                opacity: 1;
                width: 20%;
                height: 70px;
                border-radius: 10px;
            }
        }
        .back {
            background-color: var(--mainBackGroudColor);
            position: absolute;
            height: 100vh;
            width: 100%;
            animation: OpenNavBar 0.3s forwards;
        }
        @keyframes OpenNavBar {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 0.6;
            }
        }
    }
    .NavPanelClose {
        .blocks {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 16px;
            gap: 20px;
            z-index: 1000;
            position: absolute;
            animation: CloseNavBarBlocks 0.4s forwards;
            .block {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                border: 1px solid var(--accentTextColor);
                background-color: var(--mainBorderColor);
                animation: CloseNavBarBlock 0.4s forwards;
            }
        }
        @keyframes CloseNavBarBlocks {
            0% {
                gap: 20px;
            }
            100% {
                gap: 0px;
            }
        }
        @keyframes CloseNavBarBlock {
            0% {
                opacity: 1;
                width: 20%;
                height: 70px;
                border-radius: 10px;
            }
            100% {
                opacity: 0;
                width: 0px;
                height: 0px;
                border-radius: 0px;
            }
        }
        .back {
            animation: CloseNavBar 0.3s forwards;
            @keyframes CloseNavBar {
                0% {
                    opacity: 0.6;
                }
                100% {
                    opacity: 0;
                }
            }
        }
    }
    .Title {
        font-family: 'Mairy';
        font-weight: 500;
        color: var(--mainTextColor);
        font-size: 1.5em;
    }
    .UseHeader {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        .notifications {
            border-radius: 50%;
            border: 1px solid var(--accentTextColor);
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .ProfileIcon {
        border: 1px solid var(--accentTextColor);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        display: flex;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .Img {
            width: 24px;
            width: 24px;
            z-index: 100;
        }
    }
}
