@import 'Assets/Styles/variables.css';
@import 'Assets/Styles/animations.css';

.ButtonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 17px;
    .Button {
        padding: 8px;
        width: 100%;
        background-color: var(--AccentColor);
        border-radius: 15px;
        color: var(--WhiteTextColor);
        text-align: center;
        font-size: 22px;
        font-weight: 600;
    }
}
