.Modal {
  position: fixed;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: 9999999999999999;
  top: 0;
  .back {
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.4);
    animation: bakModal 0.5s forwards;
  }
  .line {
    width: 100%;
    height: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  .line::before {
    width: 90px;
    border-radius: 50px;
    height: 4px;
    content: '';
    position: absolute;
    background-color: var(--SecondaryTextColor);
  }
  .content {
    min-height: 100px;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--SecondaryBackgroundColor);
    flex-direction: column;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    animation: openModal 0.5s forwards;
    z-index: 9999999999999999;
    padding-bottom: 20px;
    overflow-y: auto;
    .Input {
      position: absolute;
      bottom: 10px;
      width: 100%;
      left: 0;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      gap: 10px;
      overflow: hidden;
      button {
        height: 45px;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        padding-left: 8px;
        flex-shrink: 0;
        transition: all 0.3s;
        border: 1px solid var(--PrimaryBackgroundColor);
        color: var(--WhiteTextColor);
        border-radius: 10px;
        background-color: var(--PrimaryBackgroundColor);
      }
      button:focus {
        border: 1px solid var(--AccentBorderColor);

        background-color: var(--FourBackgroundColor);
      }
    }
  }
}

.NavPanelClose {
  .content {
    animation: closeNav 0.5s forwards;
  }
  .back {
    animation: bakNavC 0.5s forwards;
  }
}

@keyframes closeNav {
  from {
    bottom: 0px;
  }
  to {
    bottom: -100%;
  }
}

@keyframes bakNavC {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes openModal {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0px;
  }
}

@keyframes bakModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 900px) {
  .Modal {
    .line {
      display: none;
    }
    .content {
      top: 50%;
      transform: translate(-50%, -50%);
      bottom: auto;
      max-width: 500px;
      left: 50%;
      border-radius: 20px;
      max-height: 600px;
    }
  }
  @keyframes openModal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes closeNav {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
