.ShowTeams {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .TitleTeams {
    margin-top: 20px;
    display: flex;
    font-size: 20px;
    color: var(--SecondaryTextColor);
    justify-content: space-between;
  }
  .FirstTeam {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    background-color: var(--SecondaryBackgroundColor);
    .Logo {
      width: 42px;
      height: 42px;
      border-radius: 10px;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        padding: 2px;
        background: var(--ThirdaryBackgroundColor);
      }
    }
    .Text {
      display: flex;
      flex-direction: column;
      gap: 3px;
      .Title {
        color: var(--AccentColor);
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
      }
      .Desc {
        color: var(--SecondaryTextColor);
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}

.UserData {
  margin-top: 15px;

  .UserTexts {
    margin-top: 5px;

    .data {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .UserName {
      font-size: 30px;
      font-weight: 500;
    }
    .UserEmail {
      background: var(--AccentBackgroundGradient);
      background-clip: text;
      margin-top: 2px;
      font-size: 16px;
      font-weight: 300;
      -webkit-text-fill-color: transparent;
    }
    .UserLevel {
      box-shadow: var(--AccentBackgroundShadow);
      margin-top: 9px;
      padding: 5px;
      width: fit-content;
      border-radius: 50px;
      padding-left: 15px;
      padding-right: 15px;
      font-weight: 400;
      background: var(--AccentBackgroundGradient);
    }
  }
}

@media screen and (min-width: 900px) {
  .UserData {
    background-color: var(--SecondaryBackgroundColor);
    border-radius: 10px;
    border: 1px solid var(--TransparentColor);
    padding: 20px;
    position: fixed;
    padding-bottom: 35px;
    padding-top: 35px;
    margin-left: 10px;
    width: 270px;
    text-align: center;
    .data {
      margin-top: 10px;
    }
  }
  .UserPosts {
    z-index: 0;
    margin-left: 80px;
  }
}
