html {
    --PrimaryTextColor: #fff;
    --SecondaryTextColor: #bdbdbd;
    --PrimaryBackgroundColor: #18191e;
    --SecondaryBackgroundColor: #1d1f2a;
    --ThirdaryBackgroundColor: #3d3f48;
    --FourBackgroundColor: #20182c;
    --AccentBackgroundGradient: linear-gradient(
        91deg,
        #7728e1 0%,
        #700cf5 100%
    );
    --AccentBorderColor: #700cf5;
    --AccentBackgroundShadow: 4px 4px 4px 0px rgba(113, 13, 245, 0.1);

    --ErrorBackgroundGradient: linear-gradient(94deg, #b24239 0%, #d7554a 100%);
    --TransparentColor: #60658320;

    --PrimaryPaddingSize: 12px;
}
