html {
    --mainTextColor: #f0f0f0;
    --accentTextColor: #38669b;
    --activeAccentColor: #2c7c4d;
    --errorAccentColor: #7c382c;
    --secondTextColor: #686868;
    --mainBorderColor: #202020;
    --mainBackGroudColor: #191919;
    --secondBackGroudColor: #333;

    --mainBoxShadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    --activeBoxShadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4);

    --mainMarginTop: calc(8vh + 20px);
}

/* 
Мой первый пост

Привет, функция с написанием постов, наконец то, готова! И это текст демонстрации ее работы.

function ShowMod() {
    const [count, setCount] = React.useState(0);
    return (
        <div style={{display:"flex", alignItems: "center",  justifyContent: "center"}}>
            <h1>{count}</h1>
            <button onClick={() => setCount(count + 1)}>Добавить</button>
        </div>
    );
} */
