@import '../../Assets/Styles/variables.css';
@import '../../Assets/Styles/animations.css';
.Post {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    margin-top: 20px;
    background-color: var(--mainBorderColor);
    border-radius: 10px;
    animation: forwards 0.3s OpenBlock;
    padding: 7px;
    .Blocks {
        margin-top: 7px;
        .title {
            padding: 0 2px;
            justify-content: space-between;
            display: flex;
            color: var(--accentTextColor);
            font-size: 16px;
            .arrows {
                font-weight: 500;
                font-size: 16px;
                display: flex;
            }
        }
        .ShowBlock {
            margin-top: 3px;
            border-radius: 10px;
            border: 2px solid var(--secondBackGroudColor);
            min-height: 300px;
            max-height: 300px;
            .code {
                padding: 5px;
            }
            .image {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
                height: 300px;
                width: 100%;
            }
        }
    }
    .TextPost {
        padding: 0 2px;
        margin-top: 10px;
        .title {
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            font-weight: 500;
            align-items: center;
            button {
                margin-right: 8px;
                width: 24px;
                color: var(--secondTextColor);
            }
        }
        .desc {
            margin-top: 5px;
            font-size: 14px;
            color: var(--secondTextColor);
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows 0.3s;
            overflow: hidden;
        }
        .desc.descOpen {
            grid-template-rows: 1fr;
        }
    }
    .actions {
        padding: 0 2px;
        display: flex;
        margin-top: 10px;
        justify-content: space-between;

        .buttons {
            display: flex;
            align-items: center;
            gap: 10px;
            .Comments {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
            .Views {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
            .Likes {
                gap: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .TopBlock {
        padding: 0 2px;
        margin-right: 5px;
        display: flex;
        justify-content: space-between;
        .user {
            gap: 10px;
            display: flex;
            align-items: center;
        }
        .action {
            color: var(--accentTextColor);
        }
        align-items: center;
        .logo {
            border: 1px solid var(--accentTextColor);
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 50px;
                object-fit: cover;
                height: 50px;
            }
        }
        .info {
            display: flex;
            flex-direction: column;
            gap: 2px;
            h1 {
                font-size: 18px;
                font-weight: 500;
            }
            h2 {
                font-size: 15px;
                color: var(--secondTextColor);
            }
        }
    }
}
