.buttonSettings {
  margin: 10px;
  width: calc(100% - 20px);
  margin-top: 20px;
  margin-bottom: 0px;
}

.TeamInfoModal {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .Group {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .Title {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .Content {
      min-height: 80px;
      border-radius: 10px;
      padding: 10px;
      background-color: var(--PrimaryBackgroundColor);
    }
  }
}

@media screen and (min-width: 900px) {
  .TeamPosts {
    z-index: 0;
    margin-left: 80px;
    width: 975px;
  }
  .TeamData {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 270px;
    text-align: center;
  }
}
