.Input {
    display: flex;
    position: relative;
    border-radius: 10px;
    padding: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    width: 100%;
    transition: all 0.2s;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    background-color: var(--SecondaryBackgroundColor);
    min-height: 45px;
    box-shadow: var(--AccentBackgroundShadow);
    input {
        width: 100%;
        font-weight: 400;
    }
    input::placeholder {
        color: var(--SecondaryTextColor);
    }
    &__Icon {
        left: 10px;
        top: calc(50% - 12.5px);
        width: 23px;
        height: 23px;
        position: absolute;
    }
    &__Icon_r {
        top: calc(50% - 12.5px);
        right: 10px;
        width: 23px;
        height: 23px;
        position: absolute;
    }
}
.primary {
    background-color: var(--PrimaryBackgroundColor);
}

.Input:has(input:focus) {
    border: 1px solid var(--AccentBorderColor);
    border-image-slice: 1;
    box-shadow: var(--AccentBackgroundShadow);
    background-color: var(--FourBackgroundColor);
}
